/****GENERALES****/

.br-punteado-b{
	border-bottom: 1px dotted;
}

a.resaltado{
    text-decoration: underline;
}

/****POP UP***/

.pop-up{
    z-index: 100;
    position: absolute;
    width: 100%;
}

.columna.carro{
    width: 35%;
    max-width: 35%;
    margin: 5% auto;
}

h2.agregado{
    padding: 10px 30px;
    text-align: center;
}

.columna.carro .producto.descripcion .insignias{
    left: -5px;
    top: 20px;
}

.columna.carro .producto.descripcion h2{
    font-size: 20px;
}

.columna.carro .producto.descripcion .precio{
    padding: 0;
    font-size: 24px;
}

.columna.carro .producto.descripcion .pleca{
    margin-bottom: 10px !important;
}

.circulo-cantidad{
    display: block;
    background: #E10019;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    line-height: 21px;
    position: absolute;
    top: 0;
    right: 20px;
}

.tabla{
    display: table;
}

.tabla .fila{
    display:table-row;    
}
/**AGREGADO Carro detalle**/
.tabla .fila:nth-child(even){
   background: #ececec;
}

.tabla .pie{
    display:table-row;    
} /***/

.tabla .columna{
    display: table-cell !important;
    vertical-align: middle; /**AGREGADO Carro detalle**/
}

.tabla.nota-precios .columna:nth-child(even) p{
   text-align: right;
}

/***********CARRO DETALLE****************/

/**proceso compra***/

.proceso.compra{
    padding-top: 0;
    padding-bottom: 0;
    max-height: 3px;
}

.degradado-proceso-compra{
        background: rgba(0,170,255,1);
background: -moz-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(105,175,35,1) 23%, rgba(255,196,0,1) 61%, rgba(230,45,134,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,170,255,1)), color-stop(23%, rgba(105,175,35,1)), color-stop(61%, rgba(255,196,0,1)), color-stop(100%, rgba(230,45,134,1)));
background: -webkit-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(105,175,35,1) 23%, rgba(255,196,0,1) 61%, rgba(230,45,134,1) 100%);
background: -o-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(105,175,35,1) 23%, rgba(255,196,0,1) 61%, rgba(230,45,134,1) 100%);
background: -ms-linear-gradient(left, rgba(0,170,255,1) 0%, rgba(105,175,35,1) 23%, rgba(255,196,0,1) 61%, rgba(230,45,134,1) 100%);
background: linear-gradient(to right, rgba(0,170,255,1) 0%, rgba(105,175,35,1) 23%, rgba(255,196,0,1) 61%, rgba(230,45,134,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaff', endColorstr='#e62d86', GradientType=1 );
}

.proceso.compra ul{
    padding-bottom: 0;
    width: 100%;
    border-bottom: 4px solid #000;
}

.proceso.compra p{
   text-align: center;
    padding: 0;
    position: relative;
    margin-top: -12px;
    color: #a4a4a4;

}

.proceso.compra p span{
   background: #fff;
    padding: 0 10px;
}

.proceso.compra p.activo{
    color: #008737;
}


/***detalle carro****/

span.productos{
    font-weight: 200;
}

.tabla.carro-detalle{
    border: 1px solid #ececec;
    width: 100%;
}

.tabla.carro-detalle .fila{
    width: 100%;
}

.tabla.carro-detalle .columna{
    padding: 2%;
    /*border-right: 1px solid #ececec;*/
}

.tabla.carro-detalle .columna:last-child{
    border-right: none;
    text-align: right;
}

.tabla.carro-detalle .columna.foto{
max-width: 15% !important;
    width: 15% !important;
}

.tabla.carro-detalle .columna.descripcion{
    max-width: 55% !important;
    width: 55% !important;
}

.tabla.carro-detalle .columna.descripcion .btns-producto{
    padding: 2% 0 !important;
    font-size: 12px;
}

.tabla.carro-detalle .columna.descripcion .btns-producto a{
   color: #69AF23;
}


.carro-detalle .precio, .resumen .precio{
    font-size: 20px;
    text-align: right;
    padding: 0;
}

.carro-detalle .precio span.descuento{
    position: relative;
    display: block;
    font-size: 13px;
    color: #E10019;
    top:0;
    font-weight: 600;
}

.producto.carrito button{
    padding: 12px;
}

.producto.carrito input{
    padding: 5px 0;
    font-size: 16px;
}

/***PIE**/

.tabla.carro-detalle .pie .columna{
    text-align: right !important;
    vertical-align: text-top;
}

.tabla.carro-detalle .pie .columna p{
    text-align: right;
}

.tabla.carro-detalle .pie:nth-child(even){
   background: #ececec;
}

.tabla.carro-detalle .pie.total{
   background: #005FAA !important;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.tabla.carro-detalle .pie.total a.resaltado{
   border: 1px solid #fff;
    display: block;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    position: absolute;
}

/****RESUMEN***/

.resumen-pago section{
    margin-bottom: 10%;
}

.resumen-pago p{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.resumen p.precio{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.resumen-pago section.metodos-pago{
    padding: 20px;
    text-align: center;
    border: 1px solid #69AF23;
}

section.metodos-pago ul li{
    padding: 5px;
    font-size: 30px;
    
}

#btn-pedir-movil{
    display: none;
}

/****MOVIL Carro Detalle****/


/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .seccion.proceso.compra, .seccion.carro.detalle{
        margin-top: 30px;
    }
    
    .seccion.proceso.compra p span{
        display: none;
        width: 280%;
        z-index: 1;
        padding-top: 10px;
        font-size: 20px;
    }
    
    .seccion.carro.detalle{
        flex-direction: column-reverse;
}
    
        .seccion.carro.detalle .espacio-2-v{
        padding: 0 !important;
}
    
    .resumen-pago section{
        margin-bottom: 20px !important;
    }
    
     .seccion.proceso.compra p.activo span{
        display: block;
    }
    
    .tabla.carro-detalle, .tabla.carro-detalle .fila, .tabla.carro-detalle, .tabla.carro-detalle .fila .columna, .tabla.carro-detalle .pie{
        display: block !important;
    }
    
    .tabla.carro-detalle .fila .columna.foto, .tabla.carro-detalle, .tabla.carro-detalle .fila .columna.descripcion, .tabla.carro-detalle .pie .columna{
        display: inline-block !important;
        padding: 0 !important;
    }
    
    .tabla.carro-detalle .fila:nth-child(even){
   padding-bottom: 8px;
}
    
     .tabla.carro-detalle .fila .columna.foto{
        max-width: 25% !important;
        width: 25% !important;
    }
    
    .tabla.carro-detalle .fila .columna.descripcion{
        max-width: 70% !important;
        width: 70% !important;
    }
    
     .tabla.carro-detalle .fila .columna.precio-cantidad{
         padding: 0;
        max-width: 95% !important;
        width: 95% !important;
         margin-top:0 !important;
       
    }
    
     .tabla.carro-detalle .fila .columna.precio-cantidad .precio{
         width: 50%;
    display: inline-block;
         vertical-align: top;
          
    }
    
    .tabla.carro-detalle .pie .columna:first-child{
        width: 20% !important;
    }
    
    .tabla.carro-detalle .pie .columna{
        width: 35% !important;
    }
    
    #btn-pedir-movil{
     display: block;   
    }
    
}


/***********FIN CARRO DETALLE****************/

/**************CARRO ENVIO**************/

.tabla.envios .columna{
    vertical-align: top;
}

.tabla.envios .fila:nth-child(even){
    background: #fff;
}

.tabla.envios .fila:nth-child(even) .columna{
    border-top: 1px solid #ececec;
}

/**MAPA**/
#mapa{
    display: none;
}

#mapa.seleccionado{
   display: block;
}


/***CHECKBOX**/

.ckbox-contenedor {
position: relative;
  width: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.ckbox-contenedor input {
    position: relative;
    z-index: 3;
    font-size: 30px;
    padding: 0 !important;
    margin: 0 !important;
    height: 25px;
    width: 25px;

    opacity: 0;
    cursor: pointer;
}

.ckbox-marcar {
    position: absolute;
    top: 0;
    display: block;
  height: 25px;
  width: 25px;
  background-color: #ececec;
    cursor: pointer;
}

.ckbox-contenedor:hover .ckbox-marcar {
  background-color: #ccc;
}

.ckbox-contenedor input:checked ~ .ckbox-marcar {
  background-color: #005FAA;
}

.ckbox-marcar:after {
  content: "";
  position: absolute;
  display: none;
}

.ckbox-contenedor input:checked ~ .ckbox-marcar:after {
  display: block;
}

.ckbox-contenedor .ckbox-marcar:after {
    content: "check";
    font-family: 'Material Icons';
    color: #fff;
      font-size: 24px;

}

/***RESUMEN Productos**/

.tabla.resumen{
    border: none;
}

.tabla.resumen .fila:nth-child(even){
    background: #fff;
}

.tabla.resumen .fila:nth-child(even) .columna{
    border-top: 1px solid #ececec;
     border-bottom: 1px solid #ececec;
}

.resumen .carro-detalle.resumen p.precio{
    padding: 10px;
    margin: 0;
    text-align: right;
}

.resumen-pago p.a-carrito{
    padding-top: 30px !important;
}
/*Modificado envio agregar direccion*/
.btn-agregar{
    position: absolute;
    right: 100px;
    top: -60px;
    width: 30px;
    height: 40px;
    
}

/**MOVIL CARRO ENVIOS***/

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .seccion.carro.envios{
        margin-top: 30px;
    }
    
    .seccion.proceso.compra p:nth-child(2) span{
        margin-left: -100%;
    }
    
    
    .tabla.carro-detalle.envios .fila .columna.foto, .tabla.carro-detalle.envios .fila .columna.descripcion{
        display: block !important;
       
    }
    
    .tabla.carro-detalle.envios .fila {
        border-bottom: 1px solid #efefef;
    }
    
    .tabla.envios .fila:nth-child(even) .columna{
        border: none;
    }
    

    
    .tabla.carro-detalle.envios .fila .columna, .tabla.carro-detalle.envios .fila .columna.foto, .tabla.carro-detalle.envios .fila .columna.descripcion{
        max-width: 95% !important;
        width: 95% !important;
        padding: 0 20px !important;
        text-align: left;
    }
    
    .carro-detalle.resumen.tabla{
        display: table !important;
    }
    
    .carro-detalle.resumen.tabla .fila, .carro-detalle.resumen.tabla .pie{
        display: table-row !important;
    }
    
    .carro-detalle.resumen.tabla .fila .columna, .carro-detalle.resumen.tabla .pie .columna{
        display: table-cell !important;
    }
    
    
    
    
    
}

/***********FIN CARRO ENVIO****************/

/*****CARRO AGREGAR DIRECCION***/


.columna.carro.direccion{
    width: 35%;
    max-width: 35%;
    margin: 5% auto;
}

.agregar.direccion .columna.completa{
    min-width: 100%;
}

.agregar.direccion .columna.completa > .contenedor{
    margin: 0 30px;
}


.ref-dir input{
   padding: 0 !important;
}

.agregar.direccion h2.txt-azul{
   margin-top: 30px;
}

.agregar.direccion .fm-ag-dir{
   width: 100%;
    display: block;
    border-bottom: 1px solid #ececec;
}

.agregar.direccion .fm-ag-dir:last-child{
   border: none;
}

.agregar.direccion .columna.completa input, .agregar.direccion .columna.completa select{
    width: 80%;
    padding:20px 30px;
  
}

.agregar.direccion .columna.completa select{
    border: none;
    margin:20px 30px;
  
}

.agregar.direccion .columna.completa .botones{
   width: 100%;
    padding: 0;
    margin: 20px 0 30px;
  
}

.agregar.direccion .columna.completa .botones a{
   width: 20%;
  
}

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .agregar.direccion .columna.completa > .contenedor{
    margin: 0 10px;
}
    
    .agregar.direccion .columna.completa select{
        margin: 0;
    }
    }

/********FIN AGREGAR DIRECCION******/

/****ALERTA ENVIO****/

.alerta{
    margin-top: 30px;
	background: rgba(255,0,25,.8);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.alerta p{
    text-align: center;
    padding: 5px;
}

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .alerta{
    margin-top: 50px;
}
    }


/***** FIN ALERTA ENVIO ******/

/****COSTO ENVIO*****/

.tabla.carro-detalle .pie.envio{
    background: #00aaff;
}

/***** FIN COSTO ENVIO ******/

/****DETALLE ENVIO*****/

.tabla.carro-detalle .detalle.envio .columna{
    background: #fff;
}

.env-nom-rec{
    width: 100%!important;
    max-width: 100%;
    background: #fff;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.env-inf{
    width: 100%!important;
    background: #fff;
    border: none;
    padding: 8px 20px;
	font-size: 14px;
	font-family: 'FFClan', sans-serif;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.tabla.carro-detalle.envios .fila.activa .columna{
    border-top: 5px solid #00aaff;
    border-bottom: none;
}

.tabla.carro-detalle.envios .fila.activa .columna .txt-azul-corporativo{
    color: #00aaff !important;
}

.tabla.carro-detalle.envios .fila.activa .columna .pleca.bg-azul-corporativo{
    background-color: #00aaff !important;
}

/***** FIN detalle ENVIO ******/

/****CARRO PAGO*****/

 .tabla.metodo.pago{
     width: 100%;
     border-top: 1px solid #ececec;
     border-left: 1px solid #ececec;
     border-right: 1px solid #ececec;
    }

.tabla.metodo.pago .columna{
     background: #ececec;
     padding: 20px;
    }

.tabla.metodo.pago .columna .forma-pago{
   font-size: 18px;
    display: block;
    margin-top: 10px;
    width: 80%;
    }

/**TARJETAS**/

.tabla.carro-detalle .fila.activa .columna{
   border-top: 5px solid #00aaff;
   border-bottom: 5px solid #00aaff;
    color: #00aaff !important;
}

.tabla.carro-detalle.tarjetas .fila:nth-child(even){
   background: none;
}

.tabla.carro-detalle.tarjetas .columna{
    vertical-align: top;
    
}

.tabla.carro-detalle.tarjetas .columna.descripcion{
   padding-left: 100px !important;
    
}

.tabla.carro-detalle.tarjetas .columna.descripcion:before{
    font-family: "Font Awesome 5 Brands";
    display: block;
    position: absolute;
    font-size: 40px;
    left: 30px;
    top: 30px;
    
}

.tabla.carro-detalle.tarjetas .columna.visa:before{
   content: "\f1f0";    
}

.tabla.carro-detalle.tarjetas .columna.mastercard:before{
   content: "\f1f1";    
}

.tabla.carro-detalle.tarjetas .columna.amex:before{
   content: "\f1f3";    
}

/***FIN TARJETAS

/**EN TIENDA**/

.tabla.carro-detalle.tienda .columna{
    vertical-align: top;
}

.tabla.carro-detalle.tienda .columna.detalle{
   padding: 30px 20px;
}

.tabla.carro-detalle.tienda .columna.detalle .detalle.pago{
  border: 1px solid #ececec;
    margin-top: 30px;
}

.tabla.carro-detalle.tienda .columna.detalle p{
    text-align: left;
   font-size: 18px;
}

.tabla.carro-detalle.tienda .buscador{
    width: 80%;
}

/** FIN en tienda**/

/***** FIN carro PAGO ******/

/*****************CARRO AGREGAR TARJETA***********************/

/*****CARRO AGREGAR DIRECCION***/

/** igual que agregar direccion, solo cambia la clase  direccion - por "tarjeta"**/
.columna.carro.tarjeta{
    width: 35%;
    max-width: 35%;
    margin: 5% auto;
}

.agregar.tarjeta .columna.completa{
    min-width: 100%;
}

.agregar.tarjeta .columna.completa > .contenedor{
    margin: 0 30px;
}

.agregar.tarjeta h2.txt-azul{
   margin-top: 30px;
}

.agregar.tarjeta .fm-ag-dir{
   width: 100%;
    display: block;
    border-bottom: 1px solid #ececec;
}

.agregar.tarjeta .fm-ag-dir:last-child{
   border: none;
}

.agregar.tarjeta .columna.completa input, .agregar.tarjeta .columna.completa select{
    width: 80%;
    padding:20px 30px;
  
}

.agregar.tarjeta .columna.completa select{
    border: none;
    margin:20px 30px;
  
}

.agregar.tarjeta .columna.completa .botones{
   width: 100%;
    padding: 0;
    margin: 20px 0 30px;
  
}

.agregar.tarjeta .columna.completa .botones a{
   width: 20%;
  
}

.fm-ag-t-c2{
    width: 48%;
    display: inline-block;
    
}

.fm-ag-t-c2 input{
   border-bottom: 1px solid #ececec;
    width: 55% !important;
}

.fm-ag-t-c2 input.mes, .fm-ag-t-c2 input.anio{
   padding-right: 10px !important;
    padding-left: 10px !important;
    width: 30% !important;
    text-align: center;
}



/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .agregar.tarjeta .columna.completa > .contenedor{
    margin: 0 10px;
}
    
    .agregar.tarjeta .columna.completa select{
        margin: 0;
    }
    }

/********FIN AGREGAR Tarjeta******/

/**************PAGO EXITOSO***************/

.proceso.compra.completa{
        height: 60px !important;
    max-height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-top: 30px;
}

.tabla.pago .cabeza{
    display: table-caption;
    border: 1px solid #ececec;
}

.tabla.pago .cabeza .columna, .tabla.pago .cabeza .columna p{
   vertical-align: top;
    text-align: left;
}

.tabla.pago .columna .logotipo{
   width: 250px;
}

.tabla.pago .columna .resumen{
   margin-top: 30px;
}



.tabla.carro-detalle.pago .fila.conceptos{
   background: #ececec !important;
}

.tabla.carro-detalle.pago .fila:nth-child(even) {
   background: none;
}

.tabla.carro-detalle.pago .fila:nth-child(even) .columna{
   background: none;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.tabla.carro-detalle.pago .columna.foto{
    width: 10% !important;
    max-width: 10% !important;
}

.tabla.carro-detalle.pago .columna.producto{
    width: 35% !important;
    max-width: 35% !important;
}

.tabla.carro-detalle.pago .columna.cantidad, .tabla.carro-detalle.pago .columna.precio-cantidad{
    width: 20% !important;
    max-width: 20% !important;
    text-align: center;
}

.tabla.carro-detalle.pago .columna.subtotal{
    width: 25% !important;
    max-width: 25% !important;
    text-align: right;
}

.tabla.carro-detalle.pago .columna.cantidad p{
    text-align: center;
}

.tabla.carro-detalle.pago .columna.precio-cantidad, .tabla.carro-detalle.pago .columna.precio-cantidad p, .tabla.carro-detalle.pago .columna.subtotal p{
    text-align: right;
}

.tabla.carro-detalle .pie.subtotal{
    background: #ececec;
}

.tabla.carro-detalle .pie.impuesto{
    background: #fff;
}


.tabla.carro-detalle.detalles .columna{
    text-align: left;
    vertical-align: top;
}

.tabla.carro-detalle.detalles .columna p{
    text-align: left;
}

.tabla.carro-detalle.detalles .columna:first-child{
       width: 5% !important;
    max-width: 5% !important;
    text-align: right;
}


.tabla.carro-detalle.detalles .columna:first-child p{
    text-align: right;
}
/**FIN PAGO EXITOSO**/

/**************PAGO EXITOSO tienda***************/

.carro.pago.exitoso.en-tienda .tabla.carro-detalle .pie.total{
    background: #00aaff !important;
}

/**********MOVIL PAGO detalle envío******/

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
     /***AJUSTE PROCESO COMPRA***/
    .seccion.proceso.compra p:nth-child(2).activo span{
            margin-left: -100% !important;
    }
    
    /***** Detalle ENVIO ******/
    
    .tabla.carro-detalle.envios .fila.activa .columna{
        border: none;
    }
    
    .tabla.carro-detalle.envios .fila.activa{
            border-top: 5px solid #BECD00;
        
    }
    
    .tabla.carro-detalle.envios .fila.detalle.envio .columna.foto{
           display: none !important;
        
    }
    
    .tabla.carro-detalle.envios .fila.detalle.envio .columna.descripcion{
       margin: 0;
    padding: 20px 0 !important;
    width: 100% !important;
    max-width: 100% !important;
        text-align: center;
        
    }
    
    .env-nom-rec, .env-inf{
        width: 80%;
    }
    
/***** FIN detalle ENVIO ******/
    
    /****CARRO PAGO*****/
    
    .seccion.carro.pago{
            margin-top: 30px;
    }
    
    .seccion.proceso.compra p:nth-child(3).activo span{
            margin-left: -200%;
    }
    
    .tabla.metodo.pago .columna .forma-pago{
        width: 100%;
    }
    
    .tabla.carro-detalle.tarjetas .columna.descripcion:before{
          top: 15px;
    }
    
     .tabla.carro-detalle.tarjetas .fila{
      border-bottom: 1px solid #ececec;
    }
    
    .tabla.carro-detalle.tarjetas .columna{
        text-align: left;
            max-width: 70% !important;
    width: 70% !important;
        padding-left: 30px;
    }
    
     .tabla.carro-detalle.tarjetas .fila .columna:last-child{
      margin-top: 0;
    }
    
    /****Fin CARRO PAGO*****/
    
    /***TARJETA***/
    
    .tabla.carro-detalle.tarjetas .fila.activa{
            border-top: 5px solid #00aaff;
            border-bottom: 5px solid #00aaff;
    }
    
    .tabla.carro-detalle.tarjetas .fila.activa .columna{
            border: none;
    }
    
    /***TIENDA**/
    
    .tabla.carro-detalle.tienda .columna.detalle{
        padding-top: 0;
        padding-bottom: 0;
        width: 90% !important;
    }
    .tabla.carro-detalle.tienda .columna.detalle .detalle.pago{
        width: 100%;
    }
    
    .tabla.carro-detalle.tienda .buscador{
       padding: 0;
    }
    
    /*****PAGO EXITOSO****/
    
    .seccion.carro.pago.exitoso{
        margin-top: 0 !important;
    }
    
    .seccion.carro.pago.exitoso .tabla, .seccion.carro.pago.exitoso .tabla .fila, .seccion.carro.pago.exitoso .tabla .columna, .tabla.pago .cabeza{
        display: block !important;
        margin: 0;
    }
    
    .seccion.carro.pago.exitoso .tabla.informacion  .columna, .seccion.carro.pago.exitoso .tabla.pago  .cabeza .columna{
       width: 95% !important;
        max-width: 95% !important;
    }

   
    .seccion.carro.pago.exitoso .tabla.pago  .cabeza .columna .logotipo{
       width: 200px;
    }
    
    .tabla.pago .columna .resumen{
            margin-top: 0px;
    }
    
    .seccion.carro.pago.exitoso .tabla.informacion  .columna p{
       text-align: left;
    }
    
    .seccion.carro.pago.exitoso .tabla.informacion  .columna p span.txt-grande{
       font-size: 18px;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px dotted #fff;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago  .columna.foto{
       display: inline-block !important;
        width: 25% !important;
        max-width: 25% !important;
        margin: 20px 0;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago  .columna.producto{
       display: inline-block !important;
        width: 67% !important;
        max-width: 67% !important;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago  .fila.conceptos{
       display: none !important;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila:before{
        content: "Producto";
        display: block !important;
        background: #00aaff;
        width: 90%;
        padding: 1% 5%;
        color: #fff;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila .columna.precio-cantidad, .seccion.carro.pago.exitoso .tabla.pago .fila .columna.cantidad{
      width: 49% !important;
    max-width: 49% !important;
    background: #ececec;
    display: inline-block !important;
    margin: 0;
    padding: 0;
    }
    
     .seccion.carro.pago.exitoso .tabla.pago .fila .columna.precio-cantidad p, .seccion.carro.pago.exitoso .tabla.pago .fila .columna.cantidad p{
      text-align: center;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila .columna.subtotal{
        width: 95% !important;
        max-width: 95% !important;
        font-size: 18px;
        font-weight: 400;
        color: #005FAA;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila .columna.precio-cantidad p:before{
        content: "Precio:";
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila .columna.cantidad p:before{
        content: "Cantidad: ";
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .fila .columna.subtotal p:before{
        content: "Subtotal: ";
    }
    
    .tabla.carro-detalle.pago .fila:nth-child(even) .columna{
        border: none;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .pie .columna.foto, .seccion.carro.pago.exitoso .tabla.pago .pie .columna.producto, .seccion.carro.pago.exitoso .tabla.pago .pie .columna.precio-cantidad{
       display: none !important;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .pie{
     padding: 15px;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .pie .columna{
        width: 49% !important;
    max-width: 49% !important;
    background: none;
    display: inline-block !important;
    margin: 0;
    }
    
    .seccion.carro.pago.exitoso .tabla.pago .pie .columna p{
     padding: 0;
    }
    
    .seccion.carro.pago.exitoso .tabla.detalles .fila .columna{
        width: 95% !important;
        max-width: 95% !important;
        text-align: left;
        padding: 0;
    }
    
    .seccion.carro.pago.exitoso .tabla.detalles .fila .columna p{
        text-align: left;
    }
    
    .seccion.carro.pago.exitoso .tabla.botones .fila .columna:first-child{
        display: none !important;
    }
    
    .seccion.carro.pago.exitoso .tabla.botones .fila .columna{
      width: 95% !important;
        max-width: 95% !important;
    }
    
    .tabla.pago .columna p.sin-espacio{
        padding: 15px 0 0 0 !important;
    }
    
    
}

