/******GENERALES****/

.mi-cuenta a.resaltado{
    text-decoration: underline;
    color: #00aaff;
}

.mi-cuenta a.resaltado.btn-alerta{
    text-decoration: underline;
    color: #E10019;
}

.w20{
    width: 20%;
}

#btn-menu-movil{
   padding: 15px 20px;
    display: none;
}
/***Modificado***/
.cerrar-movil{
    display: none;
}

/***MENU***/

.mi-cuenta ul.menu{
    margin-left: 20px;
    background: #ececec;
}

.mi-cuenta .menu li{
    border-bottom: 1px solid #00aaff;
}

.mi-cuenta .menu li a{
    display: block;
    padding: 20px;
}

.mi-cuenta .menu li .material-icons{
    font-size: 30px;
    margin-right: 10px;
}

.mi-cuenta .menu li.activo{
    background: #00aaff;
    font-weight: 400;
}

.mi-cuenta .menu li.activo a{
    color: #fff !important;
}

.mi-cuenta .menu p{
    padding: 20px;
}

.mi-cuenta .menu li.activo .material-icons{
    color: #fff;
}

/***** MI INFORMACION*****/

.datos .tabla-t .fila-t{
    display: flex;
    -ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
    align-items:flex-end;
}

.datos .tabla-t .fila-t .columna-t{
    flex: 1;
    margin-right: 2%;
    font-size: 16px;
    padding: 20px;
    position: relative;
}

.datos .tabla-t .fila-t .columna-t .material-icons{
    font-size: 40px;
    color: #00aaff;
    margin-bottom: 5px;
}

.datos .tabla-t .fila-t .columna-t .icono{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 40px;
}

.datos .tabla-t .fila-t .columna-t p{
    margin-top: 2px;
    margin-left: 40px;
    padding: 0;
}

.datos .tabla-t .fila-t .columna-t p.nombre{
   font-size: 14px;
    color: #005FAA;
    font-weight: 200;
    padding: 0 10px;
}

.datos .tabla-t .fila-t .columna-t p.campo{
    margin-top: 0;
    border-bottom: 1px solid #ececec;
    padding: 0 10px 10px 10px;
    font-weight: 400;
}

.datos .tabla-t .fila-t .columna-t input{
    
    font-size: 16px;
    padding: 0;
    font-weight: 400;
}

.datos .tabla-t .fila-t .columna-t a{
    margin-top: 10px;
    font-size: 14px;
    padding: 0;
    margin-right: 20px;
    float: right;
    font-weight: 200;
}


.datos .tabla-t .fila-t .columna-t a.ayuda{
    float: none;
}

.datos .tabla-t .fila-t .columna-t a.ayuda .material-icons{
    font-size: 24px !important;
    margin-left: 20px;
    color: #005FAA;
}



.datos .tabla-t .fila-t .columna-t.s_m{
    margin-right: 0;
}

.datos .tabla-t .fila-t .columna-t.s_pd{
    padding-right: 0;
}

.datos .tabla-t .fila-t .columna-t.s_pi{
    padding-left: 0;
}

.datos .tabla-t .fila-t .columna-t.s_b{
    border-bottom: none;
}


.datos .tabla-t .fila-t .columna-t.w5{
   width: 5%;
    max-width: 5%;
    min-width: 5%;
}

.datos .tabla-t .fila-t .columna-t.w10{
   width: 10%;
    max-width: 10%;
    min-width: 10%;
}

.datos .tabla-t .fila-t .columna-t.w20{
   width: 20%;
    max-width: 20%;
    min-width: 20%;
}

.datos .tabla-t .fila-t .columna-t.w30{
   width: 30%;
    max-width: 30%;
    min-width: 30%;
}

.datos .tabla-t .fila-t .columna-t.w40{
   width: 40%;
    max-width: 40%;
    min-width: 40%;
}

.datos .tabla-t .fila-t .columna-t.w80{
   width: 80%;
    max-width: 80%;
    min-width: 80%;
}

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    

    /***AGREGADO SUBTITULO***/
    
    .mi-cuenta h3.al-derecha{
        text-align: left;
    }
    
    .mi-cuenta .br-derecho{
        border: none !important;
    }
    
    .mi-cuenta ul.menu{
       margin: 0;
    }
    
    .mi-cuenta .pleca.flota-derecha{
        float: left;
    }
    
    .datos .tabla-t .fila-t{
    flex-direction: column;
}
    .datos .tabla-t .fila-t .columna-t{
    width: 100%;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0;
}
    
    .datos .tabla-t .fila-t .columna-t input.tel{
    width: 50%;
}
    
    #btn-menu-movil{
        display: block;
    }
    
    .cerrar-movil{
     display: block;   
    }
    
    section.menu ul.menu{
       display: none;
    }
    /**ANIMACION**/

section.menu:hover{
    -webkit-border-radius: 0;
    background: #005FAA;
    border: none;
    color: #fff;
}

section.menu:hover ul.menu{
display: block;
    animation-duration: .4s;
    animation-name: slidedown_micuenta_menu;
}

@keyframes slidedown_micuenta_menu {
  from {
    height: 0;
  }

  to {
    height: 390px;
  }
}
    
}


/*************MIS DIRECCIONES******************/

/**agregado subtitulo***/

.mi-cuenta .subtitulo{
    position: absolute;
    right: 0;
    top:-90px;
}

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    

    /***AGREGADO SUBTITULO***/
    
    .mi-cuenta .subtitulo{
        position: relative !important;
        top: 0 !important;
    }
}

.mi-cuenta .btn-agregar{
    position: relative;
    top: 0;
    width: 100%;
    text-align: right;
}

/******SALDOS****/

.mi-cuenta .resumen p.precio{
    text-align: right !important;
}

/******CONTRASENIA****/

.mi-cuenta .datos.contrasenia .tabla-t .fila-t .columna-t a{
    float: none !important;
    padding: 10px 40px;
}

.mi-cuenta .datos.contrasenia .tabla-t .fila-t .columna-t a:last-child{
   margin-right: 0;
}

/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
.mi-cuenta .datos.contrasenia .tabla-t .fila-t .columna-t{
    text-align: center;
}
    
    }

/***********POP UP*********/

.pop-up .columna.contenido{
        width: 35%;
    max-width: 35%;
    margin: 15% auto;
}

.pop-up .columna.contenido p{
    text-align: center;
}

.pop-up .columna.contenido p:last-child{
    margin-bottom: 30px;
}

.pop-up .columna.contenido .material-icons{
  font-size: 50px;
}

.pop-up .columna.contenido a.aceptar, .pop-up .columna.contenido a.cancelar{
   padding: 12px 40px;
}

/***EXITO***/

.pop-up.exito .titulo{
  padding: 10px 30px;
    text-align: center;
    background: #00aaff;
    color: #fff;
}

.pop-up.exito a.aceptar{
    background: #00aaff;
    color: #fff;
}


.pop-up.exito .columna.contenido .material-icons{
  color: #69AF23;
}


/***ERROR***/

.pop-up.error .titulo{
  padding: 10px 30px;
    text-align: center;
    background: #E10019;
    color: #fff;
}

.pop-up.error a.aceptar{
    background: #a4a4a4;
    color: #fff;
}


.pop-up.error .columna.contenido .material-icons{
  color: #E10019;
}

/***SALIR***/

.pop-up.salir .titulo{
  padding: 10px 30px;
    text-align: center;
    background: #E10019;
    color: #fff;
}

.pop-up.salir a.cancelar{
    background: #a4a4a4;
    color: #fff;
}

.pop-up.salir a.aceptar{
    background: #00aaff;
    color: #fff;
}


/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
.pop-up .columna.contenido{
    margin: 0 auto;
}
    }

/********MIS COMPRAS****/

.compras .contenedor-busqueda{
    padding: 0;
    position: relative;
    height: 50px;
}

.compras .busqueda{
        width: 30%;
    max-width: 30%;
    margin: 0px;
    padding: 0;
    position: absolute;
    right: 30px;
}



.compras .tabla .fila .columna{
    font-size: 14px;
    border-right: 1px solid #ccc;
    margin: 0;
    vertical-align: top !important;
}

.compras .tabla .fila .columna:last-child{
    border-right: none;
}

.compras .tabla .fila .columna p{
    text-align: left;
}

.compras .tabla .fila .columna p.precio{
    text-align: right;
}

.compras .tabla .fila-h.cabeza{
    background: #efefef;
    display: table-row;
}

.compras .tabla .fila-h.cabeza .columna p{
    text-align: center;
}

.compras .tabla .fila .columna.camino{
    font-weight: 400;
    background: #00aaff;
    color: #fff;
}

.compras .tabla .fila .columna.error{
    font-weight: 400;
    background: #FFC300;
    color: #fff;
}

.compras .tabla .fila .columna.entregado{
    font-weight: 400;
    background: #69AF23;
    color: #fff;
}

.compras .tabla .fila .columna.pendiente{
    font-weight: 400;
    background: #6ac7ea;
    color: #fff;
}

.compras .tabla .fila .columna.devuelto{
    font-weight: 400;
    background: #552382;
    color: #fff;
}

.compras .tabla .fila .columna.camino a, .compras .tabla .fila .columna.error a, .compras .tabla .fila .columna.entregado a, .compras .tabla .fila .columna.pendiente a{
    font-weight: 100;
    color: #fff;
}

.compras .tabla .fila:nth-child(even){
    background: #fff;
}

.compras .tabla .fila:nth-child(odd){
    background: #efefef;
}

/****DETALLE COMPRA*****/

.pop-up .columna.compra{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    margin: 1% auto;
}

.pop-up h3.entrega{
    padding: 20px;
    text-align: center;
    font-weight: 400;
}

.pop-up h3.entrega .estado{
    text-transform: uppercase;
}

.pop-up h3.entrega a{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
}


.pop-up .btn-cerrar{
    color: #fff;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/*****SEGUIMIENTO ENVIO****/

.pop-up .seccion.proceso{
    margin-top: 40px;
}

.pop-up .seguimiento h3.entrega{
    margin-top: 40px;
}

.pop-up .seguimiento h3.entrega.camino, .pop-up .proceso.compra p.activo.camino{
    color: #00aaff;
}

.pop-up .seguimiento h3.entrega.pendiente, .pop-up .proceso.compra p.activo.pendiente{
    color: #6ac7ea;
}

.pop-up .seguimiento h3.entrega.entregado, .pop-up .proceso.compra p.activo.entregado{
    color: #69af23;
}

.pop-up .seguimiento h3.entrega.error{
    color: #E10019;
}

.pop-up .seguimiento .tabla.carro-detalle.envio{
   border-top: 1px solid #00aaff;
    border-bottom: none;
}

.pop-up .seguimiento .resumen .carro-detalle.resumen p.precio{
    padding: 0 !important;
    font-size: 16px;
}

.pop-up .p-final{
    padding: 20px !important;
}

.pop-up .seguimiento h3.entrega.error{
    margin-top: 0px;
}

/****ERROR**/

section.opciones{
    background: #efefef;
    padding: 30px;
    height: 88%;
}

.pop-up .tabla.opciones{
  margin-top: 20px;
}

.pop-up .tabla.opciones .columna{
   padding: 10px;
}

.pop-up .tabla.opciones .columna:last-child{
    text-align: left !important;
}

.pop-up .tabla.opciones .columna:last-child{
    text-align: left !important;
}

.pop-up .tabla.opciones .fila:nth-child(even){
    background: transparent;
}

.pop-up .tabla.opciones .fila:nth-child(even) .columna{
    border: none;
}

.pop-up .tabla.opciones .ckbox-marcar{
    border: 1px solid #ccc;
    left: -5px;
}

.pop-up .resumen-pago section{
    margin-bottom: 0;
}



/************MI COMPRAS AJUSTE************/

.mi-cuenta .proceso.compras{
    width: 40%;
    padding: 0px 15px;
    line-height: 40px;
    margin-left: 30px;
    border: 1px solid #a4a4a4;
    margin-top: 5px;
    
}

.mi-cuenta .proceso.compras select{
    border: none;
    width: 95%;
    
}

/***DETALLE***/

.pop-up .seccion.datos.compras{
    padding-top: 0 !important;
    padding-bottom: 0;
}

.pop-up .seccion.datos.compras .tabla{
    padding: 0 !important;
    margin-bottom: 30px;
}


.pop-up .seccion.datos.compras .tabla .cabeza-orden{
    display: table-caption;
    color: #fff;
}

.pop-up .tabla.carro-detalle{
    padding-bottom: 0 !important;
    border: none !important;
    padding-top: 0 !important;
}

.pop-up .tabla.pago .cabeza{
    padding-bottom: 0 !important;
    border: none !important
}

.pop-up  .compras .tabla .fila:nth-child(odd){
    background: none !important;
    border-bottom: 1px solid #efefef;
}


.pop-up  .compras .tabla .fila:nth-child(odd) .columna{
    border-bottom: 1px solid #efefef;
}
   
.pop-up  .compras .tabla .fila .columna{
    vertical-align: middle;
}

.pop-up  .compras .tabla .columna:first-child{
    width: 45%;
    max-width: 45%;
    min-width: 45%;
}

.pop-up  .compras .tabla .columna:first-child img{
    width: 30%;
    display: inline-block;
    padding: 10px 3px;
    vertical-align: middle;
}

.pop-up  .compras .tabla .columna:first-child p{
    display: inline-block;
}

.pop-up  .compras .tabla .columna.precio-cantidad{
    width: 15%;
    max-width: 15%;
    min-width: 15%;
}

.pop-up  .compras .tabla .fila .columna.precio-cantidad p{
   text-align: right;
}

/*****COLORES TABLAS***/

.pop-up .seccion.datos.compras .tabla.camino .cabeza-orden{
    background-color: #00aaff;
}

.pop-up .seccion.datos.compras .tabla.entregado .cabeza-orden{
    background-color: #69AF23;
}

.pop-up .seccion.datos.compras .tabla.error .cabeza-orden{
    background-color: #FFC300;
}

.pop-up .seccion.datos.compras .tabla.pendiente .cabeza-orden{
    background-color: #6ac7ea;
}


/*******MOVIL COMPRAS ajuste*****/


/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    .pop-up .seccion.datos.compras .tabla .cabeza-orden{
        display: block;
    }
    
    .pop-up  .compras .tabla .columna:first-child img{
    display: none;
}
    
    .pop-up .compras .tabla .fila:before{
       content: "Producto:";
    }
    
    
    .pop-up .compras .tabla .fila .columna:nth-child(1) p:before{
        display: none;
    }
    
    .pop-up .compras .tabla .fila .columna:nth-child(2) p:before{
        content: "Precio:";
    }
    
     .pop-up .compras .tabla .fila .columna:nth-child(3) p:before{
        content: "Costo de envío:";
    }
    
    .pop-up .compras .tabla .fila .columna:last-child{
        margin-bottom: 20px !important;
    }
    
}
