@charset "UTF-8";
/* CSS Document */

/* ////////////////////////  TIPOGRAFÍA CORPORATIVA \\\\\\\\\\\\\\\\\\\\\\\\\ */

/*@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-News.woff") format("woff");
	font-weight:200;
	font-style:normal;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-NewsItalic.woff") format("woff");
	font-weight:200;
	font-style:italic;
}*/

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-Bold.woff") format("woff");
	font-weight:600;
	font-style:normal;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-BoldItalic.woff") format("woff");
	font-weight:600;
	font-style:italic;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-Medium.woff") format("woff");
	font-weight: 400;
	font-style:normal;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-MediumItalic.woff") format("woff");
	font-weight:400;
	font-style:italic;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-Book.woff") format("woff");
	font-weight: 100;
	font-style:normal;
}

@font-face{
	font-family:'FFClan';
	src:url("../fonts/ClanOT-BookItalic.woff") format("woff");
	font-weight:100;
	font-style:italic;
}


/* ////////////////////////  Limpiando estilos por default \\\\\\\\\\\\\\\\\\\\\\\\\ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, del, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html{
	height:100%;
}

html {
    background: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}

input[type=text] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 80%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
    padding: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 80%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

button[type=reset] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}


textarea{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}


/* ////////////////////////  GLOBALES \\\\\\\\\\\\\\\\\\\\\\\\\ */

body{
font-family: 'FFClan', sans-serif;
font-size:15px;
color:#444444;
font-weight: 100;
background: #ffffff;
line-height: 25px;
}

a{
	color:#005FAA;
	text-decoration: none;
	transition: all 0.4s ease;
}


a:hover{
	color:#00aaff;
	transition: all 0.4s ease;
}

:hover{
	transition: all 0.4s ease;
}

p{
    text-align: justify;
    padding: 10px;
}

h1{
	font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 18px;
}

input{
	padding: 8px 20px;
	border: none;
	font-size: 14px;
	font-family: 'FFClan', sans-serif;
	font-weight: 100;
    background: none;
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #a4a4a4;
}

input.txt-blanco::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.5);
}
input.txt-blanco::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,.5);
}
input.txt-blanco:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,.5);
}
input.txt-blanco:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.5);
}

select{
  font-size: 14px;
  background: none;
	margin-top:0;
	border: solid 1px #005FAA;   
	color: #005FAA;
	font-family: 'FFClan', sans-serif;
	font-weight: 100;
}

select.select-search {
  font-size: 14px;
   background: #00aaff;
  -moz-appearance: none;
  -webkit-appearance: none;
   color: #005FAA;
   font-family: 'FFClan', sans-serif;
   font-weight: 100;
   border-radius: 136px 0 0 136px;
   -moz-border-radius: 136px 0 0 136px;
   -webkit-border-radius: 136px 0 0 136px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;

}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, white  50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #00aaff, #00aaff);
  background-position:
    calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

option.search {
    margin: 50px;
    background: #fff;
    color: #00aaff;
}

button{
    
    background: #00aaff !important;
    color: #fff !important;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

button.blanco{
   background: #fff !important;
    color: #D5327B !important;
    padding: 10px 15px;
}

/* ////////////////////////  COLORES CORPORATIVOS\\\\\\\\\\\\\\\\\\\\\\\\\ */

/*TEXTO COLORES*/

.txt-gris{
	color:#444444;
}

.txt-gris-claro{
	color: #a4a4a4;
}

.txt-blanco{
	color:#FFFFFF !important;
}

.txt-azul-corporativo{
	color:#00aaff;
}

.txt-azul{
	color:#005FAA;
}

.txt-verde-medio{
	color:#69AF23;
}

.txt-verde{
	color:#008737;
}

.txt-verde-claro{
	color:#BECD00;
}

.txt-amarillo{
	color:#FFC300;
}

.txt-rojo{
	color:#E10019;
}

.txt-morado{
	color:#552382;
}

.txt-rosa{
	color:#E62D87;
}

.txt-naranja{
	color:#F07D00;
}

.txt-rosa-e{
	color:#D5327B;
}

/*FONDOS COLORES*/

.bg-gris{
	background:#444444;
}

.bg-gris-claro{
	background:#a4a4a4 !important;
}

.bg-gris-muy-claro{
	background:#ececec ;
}

.bg-azul-corporativo{
	background:#00aaff;
}

.bg-azul{
	background:#005FAA;
}

.bg-verde-medio{
	background:#69AF23;
}

.bg-verde{
	background:#008737;
}

.bg-verde-medio{
	background:#69af23;
}

.bg-verde-claro{
	background:#BECD00;
}

.bg-amarillo{
	background:#FFC300;
}

.bg-rojo{
	background:#E10019;
}

.bg-morado{
	background:#552382;
}

.bg-rosa{
	background:#E62D87;
}

.bg-naranja{
	background:#F07D00;
}

.bg-blanco{
	background:#FFFFFF;
}

.bg-azul-gama-1{
	background: #075091;
}

.bg-azul-gama-2{
	background: #6ac7ea;
}

.bg-azul-gama-3{
	background: #0069a7;
}

.bg-azul-gama-4{
	background: #233365;
}

.bg-rosa-e{
	background:#D5327B;
}

.bg-rosa-m{
	background:#e39cbc;
}

.bg-rosa-d{
	background:#ad2864;
}

.bg-azul-gama-2-t{
    background: #f2f2f2;
}

.bg-negro{
    background-color: rgba(0,0,0,.3) !important;
}

.bg-negro-total{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: 8;
}

/****BORDES COLORES*****/

.br-gris{
	border-color:#444444;
}

.br-gris-claro{
	border-color:#a4a4a4 !important;
}

.br-gris-muy-claro{
	border-color:#ececec !important;
}

.br-azul-corporativo{
	border-color:#00aaff !important;
}

.br-azul{
	border-color:#005FAA !important;
}

.br-verde-medio{
	border-color:#69AF23;
}

.br-verde{
	border-color:#008737 !important;
}

.br-verde-medio{
	border-color:#69af23 !important;
}

.br-verde-claro{
	border-color:#BECD00 !important;
}

.br-amarillo{
	border-color:#FFC300 !important;
}

.br-amarillo.grueso {
	border: 4px solid #FFC300 !important;
}

.br-rojo{
	border-color:#E10019;
}

.br-morado{
	border-color:#552382 !important;
}

.br-rosa{
	border-color:#E62D87 !important;
}



.br-naranja{
	border-color:#F07D00 !important;
}

.br-blanco{
	border-color:#FFFFFF !important;
}

.br-rosa-e{
	border-color:#D5327B !important;
}

.br-grueso{
    border-width: 4px !important;
}

.br-redondo{
    border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
}

.br-redondo-izq{
    border-radius: 136px 0 0 136px;
-moz-border-radius: 136px 0 0 136px;
-webkit-border-radius: 136px 0 0 136px;
}


/* ////////////////////////  ELEMENTOS Y POSICIONES \\\\\\\\\\\\\\\\\\\\\\\\\ */

/****BORDES POSICION*****/


.br-completo{
	border: 1px solid;
}

.br-arriba{
	border-top: 1px solid;
}

.br-abajo{
	border-bottom: 1px solid;
}

.br-derecho{
	border-right: 1px solid;
}

.br-izquierdo{
	border-left: 1px solid;
}

.br-punteado-td{
	border-top: 1px dotted ;
	border-bottom: 1px dotted;
}

/****FLOTADOS*****/

.flota-izquierda{
	float:left;
}

.flota-derecha{
	float:right;
}

.limpiar{
	clear:both;
}

/*****POSICIONES****/

.ps-relativa{
	position: relative;
}

.ps-absoluta{
	position: absolute;
}

.ps-fija{
	position: fixed;
}

.ps-seguido{
    display: inline-block;
    vertical-align: middle;
}

.ps-aparte{
    display: block !important;
}

.ps-flex{
    display: flex !important;
}

.al-v-arriba, .al-v-arriba div, .al-v-arriba ul, .al-v-arriba li{
    vertical-align: top;
}

.al-v-mitad{
   vertical-align: super;
}

/****VISIBILIDAD***/

.oculta{
	display: none !important;
}


/****BOTONES*****/


a.borde-redondo-engie,button.borde-redondo-engie{
border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
padding: 3% 8% 3% 8%;
}


.btn{
    cursor: pointer;
}

app-header .borde-redondo-engie{
border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
border: thin solid rgba(255, 255, 255, 0.6);
	transition: all 0.4s ease;
    height: 32px;
    width: 100px;
    padding-top: 4px;
    text-align: center;
}

/*app-header .borde-redondo-engie{
border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
border: thin solid rgba(0, 170, 255, 0.6);
	transition: all 0.4s ease;
    height: 32px;
    width: 100px;
    padding-top: 4px;
    text-align: center;
}*/

/** PLECAS **/

.pleca{

    line-height: 20px;
    text-align: center;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    width: 100px !important;
    height: 10px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    margin-bottom: 30px !important;
}

.pleca.peque{

    width: 70px !important;
    height: 9px !important;

}

.pleca.mas_peque{

    width: 50px !important;
    height: 8px !important;

}

.pleca.inferior{

    margin-top: 30px !important;
    margin-bottom: 0px !important;
}

.pleca.ambos{

    margin-top: 30px !important;
    margin-bottom: 30px !important;
}



/***TEXTOS***/

/***ALINEACIÓN***/

.al-centro{
	text-align:center !important;
}

.al-derecha{
	text-align:right;
}

.al-izquierda{
	text-align:left;
}

.al-justificar{
	text-align:justify;
}

/**ÍCONOS**/

.material-icons{
	vertical-align: middle;
}

.fa, .fab{
	vertical-align: super;
}

/** CAMBIO ***/

.txt-altas{
	text-transform: uppercase;
}

.txt-altas-bajas{
	text-transform: none;
}

/** TAMAÑOS **/

.txt-peque{
	font-size: 11px !important;
}

.txt-mediano{
	font-size: 13px !important;
}

.txt-grande{
	font-size: 20px;
}

.txt-destacado{
    font-size: 30px !important;
}

.txt-muy-grande{
	font-size: 40px !important;
}

/** SOMBRAS **/

.texto-sombreado{
	text-shadow: 0 3px 10px #707070;
}

.sombra{
    -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
}

/** GROSOR **/

.txt-negritas{
	font-weight: 600;
}

.txt-mediano{
	font-weight: 400;
}

.txt-normal{
	font-weight: 200;
}

.txt-delgado{
	font-weight: 100;
}

.txt-italico{
	font-style: italic;
}

/**LISTAS**/

.lista-seguida li{
	display: inline-block;
}

.l-dos-cuartos li{
    width: 40%;
    padding: 2% 1%;
}

/* ////////////////////////  ESPACIOS \\\\\\\\\\\\\\\\\\\\\\\\\ */

/** ESPACIOS PADDING*/


.sin-espacio{
    padding: 0 !important;
}

.sin-espacio-h{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sin-espacio-t{
    padding-top: 0 !important;
}

.sin-espacio-b{
    padding-bottom: 0 !important;
}

.espacio-2-v{
    padding: 0 2% !important;
}

.espacio-3-h{
    padding: 3% 0 !important;
}

.l-espacio-2 li{
    padding: 1% 6% !important;
}

.espacio-3-hh{
    padding-left: 3% !important;
    padding-right: 3% !important;
}


/** MÁRGENES */

.sin-margen-v{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.margen-2-t{
    margin-top: 2%;
}

.margen-2{
    margin: 2%;
}

.margen-2-h{
    margin-left: 2%;
    margin-right: 2%;
}

.margen-2-5{
    margin: 5% 2%;
}


/** ANCHOS **/

/* ////////////////////////  ESTRUCTURA \\\\\\\\\\\\\\\\\\\\\\\\\ */


.seccion{
  /*margin-top: 3%;
  margin-bottom: 3%;*/
  list-style: none; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  /*justify-content: space-around;*/
    justify-content: center;

}

.seccion > * {
  padding: 3%;
  flex: 1 100%;
}

.seccion.w90{
    margin-left: 5%;
    margin-right: 5%;
}

.seccion.w90p10{
    padding-left: 5%;
    padding-right: 5%;
}

.seccion.inicio-slider > *, .seccion.interior-slider > *, .seccion.inicio-categorias > *, .seccion.menu-categorias > *, .seccion.menu-categorias{
  padding: 0 !important;
}

/****ANCHOS****/

.w100{
    width: 100%;
}

/**BLOQUES***/

.bloque-5-h{
    margin: 0 5%;
}

.bloque{
    margin: 10%;
}

.bloque.vertical{
    margin-top: 15% !important;
    margin-bottom: 10% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.bloque.plasta{
    margin: 0;
    padding: 10%;
}

.titulo-vertical-t{
    padding: 10% 0 0 0;
}

.titulo{
    padding: 10%;
}


/**FLEX**/

.flex-contenedor{
    margin-top: 1.8%;
    margin-bottom: 1%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.flex-contenedor > * {
  flex: 2;
}

.no-flex-seguido{
 display: inline-block !important;
}

.no-flex-aparte{
 display: block !important;
}

/** COLUMNAS **/

.columna{
    position: relative;
    padding: 0;
    width: 25%;
    max-width: 25%;
    vertical-align: top;
    flex: 1;
}

.completa{
    width: 100% !important;
    max-width: 100% !important;
}

.dos-cuartos{
    width: 50% !important;
    max-width: 50% !important;
}

.tres-cuartos{
    width: 75% !important;
    max-width: 75% !important;
}

.un-tercio{
    width: 33.3% !important;
    max-width: 33.3% !important;
}

.dos-tercios{
    width: 66.6% !important;
    max-width: 66.6% !important;
}


/* /////////////  REGRESAR ARRIBA \\\\\\\\\\\\\\\ */

#btn-r-arriba{
        position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 101;
    padding: 0;
    width: auto;
    height: auto;
    background: rgba(255,255,255,.8) !important;
    cursor: pointer;
}

#btn-r-arriba:hover{
    background: #00aaff !important;
}

#btn-r-arriba:hover i{
   color: #fff;
}

#btn-r-arriba i{
    font-size: 50px;
}


/* /////////////  CABEZA \\\\\\\\\\\\\\\ */

app-header{
    position: absolute;
	transition: all 0.4s ease;
    max-height: 110px; 
    height: 110px;
    width: 90%;
    z-index: 11;
}

#logo-engie-mexico img{
   	max-height: 105px;
    width: auto;
    height: 105px;
}

app-header a{
    color: #00aaff;
    
}

app-header.blanco a{
    color: #fff;
    
}

app-header nav ul li{
    font-size: 13px;
}

app-header nav ul li a{
   display: block;
    padding: 5px 15px;
}

app-header h3, nav.menu-principal h3{
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	display: inline-block;
	/*vertical-align: super;*/
}

app-header .busqueda .op-categorias{
    background: rgba(255,255,255,.7);
    padding: 0 15px;
}

app-header .busqueda .op-categorias select{
   border: none !important;
    width: 100%;
    height: 100%;
}

/***STICKY****/

#cabeza-principal.sticky{
    background: #ffffff;
    position: fixed;
    z-index: 101;
    padding-bottom: .5%;
    	-webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
    z-index: 100;
}

#cabeza-principal.sticky .br-blanco{
    border-color: #00aaff !important;
}

#cabeza-principal.sticky .bg-blanco{
    background-color: #fff !important;
}



#cabeza-principal.sticky .txt-blanco{
    color: #00aaff !important;
}

#hd-mi-cuenta-login-engie-marketplace > h3 > a

#cabeza-principal.sticky input.txt-blanco::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,170,255,.5);
}

#cabeza-principal.sticky nav > ul > li > a{
    color: #00aaff !important;
}

#cabeza-principal.sticky nav > ul > li.activa > a{
    color: #fff !important;
}

#cabeza-principal.sticky .busqueda .op-categorias{
    background: rgba(0,170,255,1);
}

#cabeza-principal.sticky .busqueda .op-categorias select{
  color: #fff;
}


/*****SUBMENU****/

app-header nav{
   position: relative;
    z-index: 100;
}


app-header nav > ul > li > a{
   color: #fff;
}



#menu{
    position: relative;
    top: 5px;
}

#menu.activo {
       background: #fff;
    }

#menu.activo>ul>li.categoria>a{
      color: #00aaff;
    }

    #menu>ul>li {
        display: inline-block;
        width: 19.3%;

    }

#menu>ul>li>a {
        padding: 5px 0;
    }

#menu>ul>li.categoria.activa>a {
       color: #fff;
    }

#menu>ul>li.categoria.conectividad.activa>a {
       background: #008737;
    }


#menu>ul>li.categoria.iluminacion.activa>a {
       background: #FFC300;
    }

#menu>ul>li.categoria.seguridad.activa>a {
       background: #00AAFF;
    }


#menu>ul>li.categoria.hogar.activa>a {
       background: #d5327b;
    }

#menu>ul>li.categoria.energia.activa>a {
       background: #005FAA;
    }



    #menu>ul>li a {
        display: block;

    }
    #menu>ul>li>ul{
        width: 100%;
        position: absolute;
        background: #fff;
        left: 0;
    }
    #menu>ul>li>ul>li {
        position: relative;
            width: 30%;
    display: inline-block;
    vertical-align: text-top;
        margin: 3% 0;
    }
    #menu>ul>li>ul>li>a {
text-align: left;
    }
    #menu>ul>li>ul>li>ul>li {

        padding: 0 3%;
   
    text-align: left;
        font-size: 13px;
    text-transform: none !important;
    margin-left: 2%;
        
    }
    #menu>ul>li>ul>li>ul a {
       color: #808080;
    font-weight: 200;  
    }

 #menu>ul>li>ul>li>ul a:hover {
    text-decoration: underline;
    }


#menu li.todos-pctos > a {
       color: #00aaff;
    }

#menu ul.subcategoria{
    border-radius: 0 0 20px 20px !important;
    border-top: 1px solid #ccc;
}

#menu ul.subcategoria .material-icons{
    vertical-align: text-bottom;
}

#menu .subcategoria > li > a{
    font-weight: 400;
}

#menu #sub-conectividad .subcategoria > li > a{
    color: #008737;
}

#menu #sub-iluminacion .subcategoria > li > a{
    color: #FFC300;
}

#menu #sub-seguridad .subcategoria > li > a{
    color: #00AAFF;
}

#menu #sub-hogar .subcategoria > li > a{
    color: #d5327b;
}

#menu #sub-energia .subcategoria > li > a{
    color: #005FAA;
}


#menu ul.subcategoria li.cat-foto{
   right: -1.3%;
    border-radius: 0 0 30px 0 !important;
}

#menu ul.subcategoria li.cat-foto > div{
    border: 3px solid;
    border-radius: 0 0 30px 0 !important;
}

#menu ul.subcategoria li.cat-foto img{
    width: 100%;
    border-radius: 0 0 30px 0 !important;
}



/* ////  PIE \\\\\\\\\ */

.pie-engie-mexico{
	margin-left: 3%;
	margin-right: 3%;
}


.pie-engie-mexico ul{
	display: inline-block;
}

.pie-engie-mexico ul:first-child{
	width: 60%;
}

.pie-engie-mexico ul.botones{
	margin-top: 22px;
	margin-left: 10px;
    width: 74%;
}



.pie-engie-mexico ul.botones li{
	font-size: 12px;
	color: #a4a4a4;
	padding-bottom: 2%;
	vertical-align: text-top;
	margin-right: 40px;
}

.pie-engie-mexico ul.botones li a, .pie-engie-mexico ul.iconos-sociales li a{
	color: #a4a4a4;
	transition: all 0.4s ease;
}

.pie-engie-mexico ul.botones li a:hover, .pie-engie-mexico ul.iconos-sociales li a:hover{
	color: #005FAA;
	transition: all 0.4s ease;
}

.pie-engie-mexico ul.iconos-sociales{
	width: 27%; /* MODIFICADO */
	position: absolute;
	right: 3%;
	text-align: right;
	padding-top: .6%;
    top: 13%;
}



.pie-engie-mexico ul.iconos-sociales li a{
	border: 1px solid rgba(164,164,164, .6);
}

.pie-engie-mexico ul.iconos-sociales li{
	margin: 0 3%; /* MODIFICADO */
}

.pie-engie-mexico ul li{
	display: inline-block;
}

.pie-engie-mexico .final{
	border-top: 4px solid #ececec;
	margin-top: 2.3%;
	padding-top: 1%;
	text-align: center;
	color: #a4a4a4;
	margin-bottom: 5%;
}

.pie-engie-mexico .logotipo{
	width: 14%;
	margin-bottom: 0;
	

}

.pie-engie-mexico .final p{
	display: inline-block;
	    vertical-align: top;
    padding-top: 25px;
    padding-left: 30px;
}

.circulo-borde {
    -webkit-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    width: 20px;
    height: 20px;
    
}

/* ////////////////////////  CONTENIDO \\\\\\\\\\\\\\\\\\\\\\\\\ */

/**SLIDER**/

.inicio-slider {
    height: 420px;   
    padding: 0 !important;
    background: url(../images/banners/banner-engie.jpg) right;
    background-size: cover;
    display: block;
}

.interior-slider {
    height: 250px;   
    padding: 0 !important;
    display: block;
    
    background: rgba(105,175,35,1);
background: -moz-linear-gradient(-45deg, rgba(105,175,35,1) 0%, rgba(0,170,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(105,175,35,1)), color-stop(100%, rgba(0,170,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(105,175,35,1) 0%, rgba(0,170,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(105,175,35,1) 0%, rgba(0,170,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(105,175,35,1) 0%, rgba(0,170,255,1) 100%);
background: linear-gradient(135deg, rgba(105,175,35,1) 0%, rgba(0,170,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69af23', endColorstr='#00aaff', GradientType=1 );
}

.interior-slider.producto {
    height: 120px;
}

.interior-slider.producto.energia {
 background: #005faa;
background: -moz-linear-gradient(-45deg, #005faa 0%, #e62d87 100%);
background: -webkit-linear-gradient(-45deg, #005faa 0%,#e62d87 100%);
background: linear-gradient(135deg, #005faa 0%,#e62d87 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005faa', endColorstr='#e62d87',GradientType=1 );
}

.interior-slider.categoria {
    height: 380px;   
    padding: 0 !important;
    display: block;
    
  background: #005faa;
background: -moz-linear-gradient(-45deg, #005faa 0%, #e62d87 100%);
background: -webkit-linear-gradient(-45deg, #005faa 0%,#e62d87 100%);
background: linear-gradient(135deg, #005faa 0%,#e62d87 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005faa', endColorstr='#e62d87',GradientType=1 );
}

.inicio-slider img, .interior-slider img, .ads-engie img{
    width: 100%;
}

.slider.contenido{
    margin-top: 11%;
    margin-left: 10%;
}

.slider.contenido h1{
   font-size: 45px;
    line-height: 55px;
    font-weight: 200;
}

.interior-slider .slider.contenido{
    margin-top: 8.2%;
    margin-left: 10%;
}


.interior-slider .slider.contenido h1{
   font-size: 32px;
    line-height: 30px;
    font-weight: 200;
}

.interior-slider.categoria .slider.contenido{
    margin-top: 12%;
    margin-left: 10%;
}

/**Navegación slider**/

.navegacion{
    top: 0;
    height: 100%;
    width: 100%;
}

.navegacion .flechas.derecha{
   right: 0 !important;
}

.bullets{
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 100%;
}

.bullets li{
    display: inline-block;
    text-align: center;
    width: 11px;
    height: 11px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
    cursor: pointer;
}

.bullets li:hover{
    border: 1px solid rgba(255,255,255,1);
}

.bullets li.activo{
    border: 1px solid rgba(255,255,255,1);
   background: #fff;
}

/******CATEGORIAS*****/

.inicio-categorias{

    height: 200px;   

}

.inicio-categorias .columna{
    padding: 0 !important;
    background-size: cover !important;
}

.inicio-categorias .columna > div{
    height: 100%;
    width: 60%;
    color: #fff;
}

.inicio-categorias .columna > div > h2{
    padding: 10%;
}

.inicio-categorias .columna > div > p{
    padding: 0% 10%;
    margin-bottom: 20px;
}


.inicio-categorias .wifi > div{
    background: rgba(0,135,55,.8);
}


.inicio-categorias .iluminacion > div{
    background: rgba(244,179,35,.9);
}

/*.inicio-categorias .seguridad{
    background: url(../images/categorias/51996429-muchacha-que-sostiene.jpg) center;
}*/


.inicio-categorias .hogar > div{
    background: rgba(213,50,123,.9);
}



.inicio-categorias .energia > div{
    background: rgba(0,95,170,.8);
}


/*****MENU CATEGORIAS********/

ul.submenu-servicios-engie-maxigas{
    /*width: 85%;*/
    width: 100%;
    text-align: right;
    /**border-radius: 0 136px 136px 0;
-moz-border-radius: 0 136px 136px 0;
-webkit-border-radius: 0 136px 136px 0;*/
    position: relative;
    z-index: 99;
}

ul.submenu-servicios-engie-maxigas li:first-child{
    /*margin: 5%;
        width: 90%;*/
}


ul.submenu-servicios-engie-maxigas li a.hogar{
      
}

ul.submenu-servicios-engie-maxigas li.comercio{
        /*width: 29% !important;*/
}

ul.submenu-servicios-engie-maxigas li a.comercio{
         /*padding-left: 37px;*/
}

ul.submenu-servicios-engie-maxigas li{
   width: 90%;
    margin: -1.5% 5% ;
    *border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
    text-align: center !important;
}

ul.submenu-servicios-engie-maxigas li:last-child{
    /*text-align: center;
    width: 20% !important;*/
}

ul.submenu-servicios-engie-maxigas li:last-child a{
    text-align: center;
    padding: 15px 0px;
}

ul.submenu-servicios-engie-maxigas li a{
    display: block;
    /*padding: 20px 30px 20px 40px;*/
    padding: 15px 0;
    color: #fff;
    text-transform: uppercase;
    *border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

ul.submenu-servicios-engie-maxigas li:hover{
    background: #000;
}

ul.submenu-servicios-engie-maxigas li a.bg-verde-medio:hover{
    background: rgba(105,175,35,.8) !important;
}

ul.submenu-servicios-engie-maxigas li a.bg-azul-corporativo:hover{
    background: rgba(0,170,255,.8) !important;
}

ul.submenu-servicios-engie-maxigas li a.bg-azul-gama-2:hover{
    background: rgba(106,199,234,.8) !important;
}

ul.submenu-servicios-engie-maxigas li a.bg-rosa:hover{
    background: rgba(229,46,135,.8) !important;
}

/**/

/*****MENU CATEGORíAS V2********/

ul.submenu-servicios-engie-maxigas.largo{
    /*width: 85%;*/
    width: 100%;
    text-align: right;
    /**border-radius: 0 136px 136px 0;
-moz-border-radius: 0 136px 136px 0;
-webkit-border-radius: 0 136px 136px 0;*/
    position: relative;
    padding-right: 15% !important;

}

ul.submenu-servicios-engie-maxigas.largo li:first-child{
    
}


ul.submenu-servicios-engie-maxigas.largo li.conectividad{
       padding-left: 24px;
}

ul.submenu-servicios-engie-maxigas.largo li.comercio{
        width: 29% !important;
}

ul.submenu-servicios-engie-maxigas.largo li a.comercio{
         padding-left: 37px;
}

ul.submenu-servicios-engie-maxigas.largo li{
   width: 20% !important;
    margin: 0 0 0 -5% !important;
    text-align: left !important;
    *border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
    display: inline-block;
}

ul.submenu-servicios-engie-maxigas.largo li:last-child{
    text-align: center;
    width: 20% !important;
}

ul.submenu-servicios-engie-maxigas.largo li:last-child a{
    text-align: center;
    padding: 20px 25px;
}

ul.submenu-servicios-engie-maxigas.largo li a{
    display: block;
    /*padding: 20px 30px 20px 40px;*/
    padding: 20px 25px 20px 25px;
    color: #fff;
    text-transform: uppercase;
    *border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

ul.submenu-servicios-engie-maxigas.largo li:hover{
    background: #000;
}

ul.submenu-servicios-engie-maxigas.largo li a.bg-verde-medio:hover{
    background: rgba(105,175,35,.8) !important;
}

ul.submenu-servicios-engie-maxigas.largo li a.bg-azul-corporativo:hover{
    background: rgba(0,170,255,.8) !important;
}

ul.submenu-servicios-engie-maxigas.largo li a.bg-azul-gama-2:hover{
    background: rgba(106,199,234,.8) !important;
}

ul.submenu-servicios-engie-maxigas li a.bg-rosa:hover{
    background: rgba(229,46,135,.8) !important;
}

/**/

/*****PROMOCION SIDEBAR***/

.promocion-mes{
    background-image: url(../images/promociones/20859830-una-representacion-3d-del-interior-moderno-de-la-cocina.jpg);
    background-size: cover;
}


/*****MAS VENDIDO****/

/*.mas-vendido{
    background: url(../images/promociones/8238077-antiguo-lampara-de-moda-en-el-cuarto-oscuro-.jpg) center;
    background-size: cover;
}*/

.mas-vendido ul li.columna{
    
    margin: 0 2%;
    width: 21% !important;
    max-width: 21% !important;
}

/*.mas-vendido ul li.columna img{
    border: 1px solid #fff;
    padding: 10px;
}*/

/***NOTICIAS***/

.noticias ul li{
    margin: 0 2%;
}

.noticias .foto{
    height: 150px;
    background-size: cover !important;
}

.noticias .casa-1 .foto{
    background: url(../images/blog/29862724-retrato-de-la-feliz-pareja-de-jovenes-sentados-en-el-piso-buscando-mientras-suena-su-nuevo-hogar-y-decorac.jpg) center;
}

.noticias .casa-2 .foto{
    background: url(../images/blog/39373621-la-pintura-puede-en-el-fondo-de-madera-del-grunge-con-el-espacio-de-la-copia.jpg) center;
}

.noticias .casa-3 .foto{
    background: url(../images/blog/47692410-elegante-sala-de-estar-con-sofa-moderno-y-elegante-a-mechones-grises.jpg) center;
}


/******PRODUCTOS******/

/**INICIO***/


ul.productos{
   margin-top: 2%;
}


ul.productos > li{
    padding: 0;
    flex: 1 100%;
    /*width: 24% !important;
    max-width: 24.5% !important;*/
    width: 22.7% !important;
    max-width: 22.7% !important;
    margin: 1%;
    position: relative;
    border: 1px solid #ececec;
}

ul.productos.cuatro > li{
    width: 20% !important;
    max-width: 20.6% !important;
    background: #fff;
    padding: 2% 0 !important;
    margin: .5% !important;

}

ul.productos li img{
    width: 100%;
}

ul.productos li a.borde-redondo-engie{
   font-size: 12px;
    text-transform: uppercase;
}

ul.productos li p.a-carrito{
    margin-bottom: 3% !important;
}

ul.productos li p.a-carrito a:hover{
   background: #00aaff;
    color: #fff;
}

ul.productos li button.btn-calculadora{
    -webkit-border-radius: 0;
    display: block;
    width: 100%;
    margin-top: 0;
    background: #b40a50 !important;
    padding: 4%;
    font-weight: 600;
}

ul.productos li button.btn-calculadora i{
    margin-top: -1%; 
}

.flechas{
    position: absolute;
    top: 50%;
    padding: 0 !important;
    cursor: pointer;
}

.flechas i{
    font-size: 50px;
}

.flechas.derecha{
   right: 6%;
}




#submenu-tienda-productos ul li{
    padding: 10px 10px;
}

#submenu-tienda-productos ul li a{
    color: #005FAA;
}

#submenu-tienda-productos ul li.seleccionado > a{
    color: #E62D87;
}

#submenu-tienda-productos ul li:before{
   content: "> ";
    color: #005FAA;
}

#submenu-tienda-productos ul.atributos li{
    padding: 10px;
}

#submenu-tienda-productos ul.atributos > li:before{
    content: "· "
}

/****PAGINACIÓN*******/

.inactivo i{
    opacity: .5;
}

#paginacion ul li{
    padding: 20px;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #005FAA;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #005FAA;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/**BARRA**/

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 2px;
  cursor: pointer;

  background: #00aaff;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00aaff;
}

input[type=range]::-moz-range-track {
 width: 80%;
  height: 2px;
  cursor: pointer;
  background: #00aaff;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 80%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00aaff;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #00aaff;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00aaff;
}

/****INSIGNIAS***/

.insignia{
    position: absolute;
    border-radius: 136px 136px 136px 136px;
-moz-border-radius: 136px 136px 136px 136px;
-webkit-border-radius: 136px 136px 136px 136px;
	transition: all 0.4s ease;
    padding: 5px 10px;
    top: -15px;
    right: -10px;
    z-index: 9;
}

.insignia span{
    font-size: 10px;   
    text-transform: uppercase;
    font-weight: 200;
}

.insignia i{
    font-size: 28px;   
}

.destacados .insignia{
    top: -15px;
    /*bottom: 60px;
    right: -5px;*/
}

/**********DETALLE PRODUCTO*******/

.producto.descripcion .precio{
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.producto.descripcion .precio span{
    text-decoration: line-through !important;
    font-weight: 200;
}

.producto.descripcion .precio span.descuento{
    text-decoration: none !important;
    position: absolute;
    /*background: #E10019;*/
    font-size: 14px;
    padding: 10px;
    color: #E10019;
    top:0;
    font-weight: 600;
}

.producto.descripcion .insignias{
    left: 0;
    top: 80px;
}

.producto.descripcion .insignia{
    display: block;
    position: relative;
    cursor: pointer;
}

.producto.descripcion .insignia span{
    display: none;
}

.producto.descripcion .insignia.favorito{
   color: #E10019;
}

.producto.descripcion .insignia.energia{
   color: #F07D00;
}

.producto.descripcion .insignia.luz{
   color: #FFC300;
}

.producto.descripcion .insignia.gas{
   color: #00aaff;
}


.producto.descripcion .insignia:hover span{
  display: inline-block;
}

.producto.descripcion ul.fotos-producto li{
   width: 20%;
    max-width: 20%;
}

.producto.descripcion ul.fotos-producto li img{
   width: 100%;
    max-width: 100%;
}


.contenido-descripcion .iconos-sociales .circulo-borde{
   font-size: 16px !important;
    width: 15px !important;
    height: 15px !important;
}

.producto.carrito button{
      border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
    margin-top: 0;
}

.producto.carrito input{
    width: 25px;
    text-align: center;
    font-size: 20px;
}

.contenido-descripcion .a-carrito{
    width: 30%;
    text-align: center;
}

.contenido-descripcion .a-carrito a{
   padding: 6% 8% !important;
}

.a-carrito a:hover{
    background: #fff !important;
    color: #69AF23 !important;
}

.producto.ficha ul.pestanias{
    padding: 0 !important;
}

.producto.ficha ul.pestanias li{
    border-top: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.producto.ficha ul.pestanias li:first-child{
    border-left: 1px solid #a4a4a4;
}


.producto.ficha ul.pestanias li:hover{
    background: #ececec;
}

.producto.ficha ul.pestanias li.activa{
    background: #00aaff;
    color: #fff;
    font-weight: 600;
    cursor: inherit;
}


ul.lista-contenido li{
   padding: .6% 2%;
    
}
ul.lista-contenido li:before{
    content: "check_circle_outline";
    display: inline-block;
    font-family: 'Material Icons';
    color: #005FAA;
    font-size: 24px;
    margin-right: 3px;
    vertical-align: bottom;
    
}

/****V2***/
.fotos-producto.ps-seguido{
    margin-top: 20px;
    width: 10%;
    vertical-align: top;
}

.fotos-producto.ps-seguido li{
    width: 100% !important;
    max-width: 100% !important;
}

.fotos-producto.ps-seguido li img{
    width: 100% !important;
}

img.foto.principal{
    width: 89%;
}

.insignias.lista-seguida{
    text-align: center !important;
}

.insignias.lista-seguida .insignia span{
    display: block !important;
}

/********CATEGORIA**********/


ul.linea.productos > li{
   
    width: 42.7% !important;
    max-width: 42.7% !important;
    margin: 1%;
    position: relative;
    border: none;
}

ul.linea.productos .contenido{
   top: 0;
    padding: 5%;
    width: 40%;
    background: rgba(0,95,170,.8);
    height: 85%;
    color: #fff;
    text-align: left;
}


/* .bar-wizard{
margin-top: 10px;
margin-bottom: -12px;
width:100%; 
height: 5px;
background-color: blue;
} */
.rigth-btn{
    right: -50px!important;
    margin: 10px;
}

.ui-spinner{
    height: 3rem!important;
    width: 6rem;
    text-align: center;
 }
 .ui-spinner .ui-inputtext{
    left: 0px;;
    height: 3rem!important;
    width: 2rem;
    padding: 5px!important;
    border-radius: 0px!important;
    text-align: center;
}
.ui-spinner-up{
    border-radius: 0px!important;
    width: 2rem!important;
    right: 0px;
    height: 3rem!important;
     background-color: #00aaff!important;
 }
.ui-spinner-down{
    border-radius: 0px!important;

    width: 2rem!important;
    left: 0px;;
    height: 3rem!important;
     background-color: #a4a4a4!important;
 }

 .pi-caret-up:before{
    content:"+"!important;
}
.pi-caret-down:before{
    content:"-"!important;
}

