/****POP UP*****/

.pop-up .columna.crear.cuenta{
    width: 100% !important;
    min-width: 50% !important;
    max-width: 100% !important;
    margin: 2% auto;
}

.pop-up .columna.crear.cuenta .w80{
    width: 80%;
}

.pop-up .columna.crear.cuenta .w25{
    width: 25%;
}

.pop-up .columna.crear.cuenta .w70{
    width: 70%;
}

.pop-up .datos .tabla-t .fila-t .columna-t p.campo, .pop-up .datos .tabla-t .fila-t .columna-t input{
    font-weight: 100;
}

.pop-up .datos .tabla-t .fila-t{
    align-items: center;
}

.pop-up .datos .material-icons.info{
   font-size: 22px !important;
    color: #005FAA !important;
}

/****RADIO****/

.radio-contenedor {
position: relative;
  width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.radio-contenedor input {
    position: relative;
    z-index: 3;
    font-size: 30px;
    padding: 0 !important;
    margin: 0 !important;
    width: 20px;
    opacity: 0;
    cursor: pointer;
}

.radio-marcar {
    position: absolute;
    top: 0;
    display: block;
  height: 23px;
  width: 23px;
  background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 1.6em;
}

.radio-contenedor:hover .radio-marcar {
  background-color: #ccc;
}

.radio-contenedor input:checked ~ .radio-marcar {
  background-color: #00aaff;
}

/****BOTONES****/

.pop-up .datos .tabla-t .fila-t .columna-t a{
    float: none;
    padding: 10px 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.pop-up .datos .tabla-t .fila-t .columna-t a:nth-child(2){
    margin-right: 0 !important;
}

/****RECUPERAR CONTRASENIA****/

.pop-up.exito .datos .tabla-t {
    padding-top: 0;
    padding-bottom: 0;
}

.pop-up.exito .datos .tabla-t .fila-t .columna-t{
    padding-top:0; 
    padding-bottom:0; 
}

.pop-up.exito .datos .tabla-t .fila-t .columna-t p.campo{
    border-bottom: 1px solid #ececec;
    padding: 0 !important;
    font-weight: 400;
    margin-left: 0;
}



/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    .pop-up .columna.crear.cuenta{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
}