#hd-servicio-cliente, #hd-mi-cuenta-login-engie-marketplace .cerrar,i.button-menu-movil{
    display: none;
}




/* Móviles en vertical------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 768px) {
    
    /***HEADER***/
    
    app-header{
            max-height: 100px;
            width: 100% !important;
            padding: 0 !important;
            
    }


    #hd-menu-engie-marketplace.columna .button{
        text-align: right !important;
    }
    #hd-menu-engie-marketplace.columna{
        margin: 0;
        width: 15% !important;
        max-width: 15% !important;
        text-align: center !important;
        position: absolute;
        top: 9px;
        height: 5vh;
        z-index: 100;
        
    }
    #hd-menu-engie-marketplace.columna.activo{
        width: 90% !important;
        position: absolute;
        top:100px;
        display: block !important;
        max-width: 100% !important;
        background: #00aaff;
        color: white;
        height: 100vh;
        padding: 1% 5%;
        z-index: 11;
        overflow: scroll;
        }
        
  
    #hd-menu-engie-marketplace > div > div.input.col-md-6.align-self-center > form > p-autocomplete > span > input{
        width: 100%!important;
    }
    
    app-header #hd-carrito-engie-marketplace.columna{
        margin: 0;
        padding-top: 43px;
        padding-right: 55px;
        width: 45% !important;
        max-width: 45% !important;
        text-align: right !important;
        vertical-align: middle;
        margin-left: auto;
        
    }
    
    app-header #hd-carrito-engie-marketplace.columna ul{
       
        padding-right: 10px;
    }

    
    #servicio-cliente-screen {
    display: none;
    }
    
    #logo-engie-mexico.columna{
        margin: 0 !important;
        width: 40% !important;
        max-width: 40% !important;
    }
    
    #logo-engie-mexico img{
       width: 100%;
    }
    
    #cabeza-principal .txt-blanco{
      
    }
    
    #hd-servicio-cliente{
        display: block;
        padding: 2px;
    width: 100% !important;
    position: absolute;
        color: #fff !important;
    }
    
    app-header#cabeza-principal #hd-servicio-cliente{
     
        color: #fff !important;
    }
    
    /****MENU***/
    
    #hd-menu-engie-marketplace div.busqueda,  #hd-menu-engie-marketplace nav{
    visibility: hidden;
    }
    
     #hd-menu-engie-marketplace.columna.activo div.busqueda,  #hd-menu-engie-marketplace.columna.activo nav{
         visibility: visible;
    }
    

   
    #hd-menu-engie-marketplace.activo #menu>ul>li{
        width: 100%;
    }
    #hd-menu-engie-marketplace.activo #menu{
        background-color: white;
        position: relative;
    }
    
     #hd-menu-engie-marketplace.activo #menu>ul>li.categoria.conectividad.activo > a{
        background: #008737;
         color: #fff !important;
    }
    
    #hd-menu-engie-marketplace.activo #menu>ul>li.categoria.activo ul.subcategoria{
        display: block;
    }
    
    #hd-menu-engie-marketplace #menu>ul>li.categoria ul.subcategoria{
        position: relative;
    }
    
    #hd-menu-engie-marketplace #menu>ul>li.categoria ul.subcategoria>li{
       width: 100%;
        margin: 0;
    }
    
    #hd-menu-engie-marketplace #menu>ul>li.categoria ul.subcategoria>li.cat-foto{
        display: none;
    }
    
    #hd-menu-engie-marketplace #menu>ul>li.categoria ul.subcategoria>li>a{
       text-align: center;
    }
    
    /****STICKY***/
    
    app-header#cabeza-principal .borde-redondo-engie{
        border-color: #00aaff !important;
    }
    
    app-header#cabeza-principal #hd-menu-engie-marketplace:before{
       
        color: #00aaff;

        
    }
    
    /***LOGIN****/
    
    #hd-mi-cuenta-login-engie-marketplace{
        width: 100%;
        position: fixed;
        left: 0;
        top: 100px;
        border-radius: 0;
        -webkit-border-radius: 0;
    }
    
    #hd-mi-cuenta-login-engie-marketplace .cerrar{
       display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    }
    
    #login-btn  {
        
        margin-left: 80px;
        margin-right: 80px;
    }
    
    #usern  {
        
        margin-top: 40px;
        margin-right: -40px; 
        
    }
    
    #pass  {
        
        margin-top: 40px;
        margin-right: -80px; 
        
    }
    
    .bloque.carrito {
        
     margin-left: -40px !important;
     width:100%;
    }
    
    .dropdown-menu {
        
      border-radius: 0;
      min-width: 16rem;
        
    }
    
    /****GENERALES***/
    
    h1{
        font-size: 28px;
    }
    
    /***CONTENIDOS***/
    
    /**SLIDER**/
    
    .slider.contenido{
        margin-top: 45% !important;
        margin-left: 15% !important;
    }
    
    .slider.contenido h1{
        font-size: 30px;
    line-height: 35px;
    }
    
    .inicio-slider{
        background-position: center;
    }
    
    .columna, ul.productos > li, ul.linea.productos > li{
            width: 100% !important;
    max-width: 100% !important;
        flex: auto;
    }
    
    .columna{
        margin: 20px 0;
    }
    
    .inicio-categorias{
        height: auto;
    }
    
    .destacados .insignia{
        top: 0;
    }
    
    ul.productos{
            margin-top: 40px;
    }
    
    ul.productos.cuatro > li{
    width: 100% !important;
    max-width: 100% !important;
        display: none;
    }
    
    ul.productos.cuatro > li:first-child{
    display: block;
    }
    
    /*****PIE*****/
    
    .pie-engie-mexico .logotipo{
        width: 50%;
    }
    
    .pie-engie-mexico ul li{
        display: block;
    }
    
    .pie-engie-mexico ul.iconos-sociales li{
        margin: 0 10% 10% 10%;
    }
    
    /********PRODUCTO********/
    
    .producto.descripcion .precio span.descuento{
        position: relative;
        display: block;
    }
    
    .contenido-descripcion .a-carrito{
        padding: 20px 0 !important;
    display: block;
    width: 100%;
    }
    
    /****CATEGORIAS***/
    
    ul.linea.productos .contenido{
        width: 50%;
    }
    
    /*****BUSQUEDA RESULTADOS****/
    
    .interior-slider .slider.contenido{
            margin-top: 110px;
    }
    #cabeza-principal.sticky a.txt-blanco.account{
        color:white!important;
    }
    #hd-menu-engie-marketplace > div.busqueda.row > div.op-categorias.col-sm-12.align-self-center{
        width: 100%;
        max-width: 100%;
    }
 
    
}

/* Tablets------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1120px) {
    
    #logo-engie-mexico {
        margin-left:-230px;
    }

    #logo-sticky {
        margin-left: 180px;
        width:50% !important;
    }

    #hd-menu-engie-marketplace {
        margin-left:100px;
    }
    
    .dos-cuartos {
        max-width:90% !important;
    }
    
    .txt-altas {
        text-transform: none;    
    }    
    
}